
<div id="page-breadcrumb-wrapper">
  <div id="page-breadcrumb">
    <a href="javascript:;" title="Dashboard">
      <i class="glyph-icon icon-table"></i>
      业务管理
    </a>
    <span class="current">
        老师
    </span>
  </div>
</div>
<!-- #page-breadcrumb-wrapper -->

<div id="page-content">


  <h4 class="heading-1 clearfix">
    <div class="heading-content">
      老师管理
    </div>
    <div class="float-right">
      <a href="#" class="btn small primary-bg" title="">
        <span class="button-content">
          <i class="glyph-icon icon-plus float-left"></i>
          新增老师
        </span>
      </a>
    </div>

  </h4>

  <div class="divider"></div>

  <form action="" class="col-md-10" method="">

    <div class="row">
      <div class="col-md-5">

        <div class="form-row">
          <div class="form-label col-md-2">
            <label for="">
              姓名
            </label>
          </div>
          <div class="form-input col-md-10">

            <input type="text" placeholder="Left icon" name="" id="">

          </div>
        </div>

      </div>
      <div class="col-md-5">

        <div class="form-row">
          <div class="form-label col-md-2">
            <label for="">
              班级
            </label>
          </div>
          <div class="form-input col-md-10">
            <input type="text" placeholder="Right icon" name="" id="">
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <a href="#" class="btn medium primary-bg" title="">
          <span class="button-content">确定</span>
        </a>
      </div>

    </div>

  </form>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Category</th>
      <th>Stats</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td class="font-bold text-left">John Clark</td>
      <td><a href="javascript:;">Sales</a></td>
      <td>
        <div class="label bg-orange">+152</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td class="font-bold text-left">Kenny Davis</td>
      <td><a href="javascript:;">Development</a></td>
      <td>
        <div class="label bg-black">+152</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td class="font-bold text-left">David Robertson</td>
      <td><a href="javascript:;">Support</a></td>
      <td>
        <div class="label bg-green">+191</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td class="font-bold text-left">John Doe</td>
      <td><a href="javascript:;">Testing</a></td>
      <td>
        <div class="label bg-red">+483</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td class="font-bold text-left">Sofia Williams</td>
      <td><a href="javascript:;">IT</a></td>
      <td>
        <div class="label bg-azure">+381</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td class="font-bold text-left">Katy Lewis</td>
      <td><a href="javascript:;">Business</a></td>
      <td>
        <div class="label bg-blue-alt">+354</div>
      </td>
      <td>
        <a href="javascript:;" class="btn small bg-yellow tooltip-button" data-placement="top" title="Flag">
          <i class="glyph-icon icon-flag"></i>
        </a>
        <a href="javascript:;" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>
        <a href="javascript:;" class="btn small bg-red tooltip-button" data-placement="top" title="Remove">
          <i class="glyph-icon icon-remove"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>


</div>
<!-- #page-content -->