
<% @student.klass.activities.each do |activity| %>
  <div class="col-md-2">
    <a href="<%= url_for student_activity_pictures_path(@student, activity) %>" data-remote="true" class="thumbnail">
      <img src="http://pic.52mxp.com/site/text.png" alt="...">
      <div class="caption" style="text-align: center">
        <h5><%= activity.title %></h5>
      </div>
    </a>
  </div>
<% end %>