<% content_for :title do ' - 所有学生' end %>

<div id="nav_title" class="row">
  <div class="col-md-6">
    <ol id="path" class="breadcrumb">
      <li class="active">所有学生</li>
    </ol>
  </div>
  <div id="actions" class="col-md-6">
  </div>
</div>

<%= render partial: 'students', object: @students %>