

<div id="page-breadcrumb-wrapper">
  <div id="page-breadcrumb">
    <span class="current">
      <i class="glyph-icon icon-dashboard"></i>
      主面板
    </span>
  </div>
</div>
<!-- #page-breadcrumb-wrapper -->

<div id="page-content">

  <div class="row mrg20B">

    <div class="col-md-4">

      <a href="javascript:;" class="tile-button btn clearfix bg-white mrg30B" title="">
        <div class="tile-header pad10A font-size-13 popover-title">
          Cloud downloads
        </div>
        <div class="tile-content-wrapper">
          <i class="glyph-icon icon-cloud-download"></i>

          <div class="tile-content">
            <i class="glyph-icon icon-arrow-up font-green"></i>
            6.52
            <span>k</span>
          </div>
          <small>
            12% new downloads
          </small>
        </div>
        <div class="tile-footer mrg5A primary-bg">
          view details
          <i class="glyph-icon icon-arrow-right"></i>
        </div>
      </a>

    </div>


    <div class="col-md-4">

      <a href="javascript:;" class="tile-button btn clearfix bg-white" title="">
        <div class="tile-header pad10A font-size-13 popover-title">
          Recent sales
        </div>
        <div class="tile-content-wrapper">
          <i class="glyph-icon icon-credit-card"></i>

          <div class="tile-content">
            1.2<span>k</span>
          </div>
          <small>
            <i class="glyph-icon icon-caret-up"></i>
            $272 daily revenue
          </small>
        </div>
        <div class="tile-footer mrg5A primary-bg">
          view details
          <i class="glyph-icon icon-arrow-right"></i>
        </div>
      </a>

    </div>

    <div class="col-md-4">

      <a href="javascript:;" class="tile-button btn clearfix bg-white" title="">
        <div class="tile-header pad10A font-size-13 popover-title">
          Trafic statistics
        </div>
        <div class="tile-content-wrapper">
          <i class="glyph-icon icon-dashboard"></i>

          <div class="tile-content">
            <i class="glyph-icon icon-chevron-up font-yellow"></i>
            517
          </div>
          <small>
            <span class="font-orange">+22,5%</span> new traffic
          </small>
        </div>
        <div class="tile-footer mrg5A primary-bg">
          view details
          <i class="glyph-icon icon-arrow-right"></i>
        </div>
      </a>

    </div>
  </div>

</div>
<!-- #page-content -->

