<% group(@pictures, 6).each do |g| %>
  <div class="row">
    <% g.each do |picture| %>
      <div class="col-md-2">
        <a href="###" class="thumbnail" id="<%= picture.id %>">
          <img src="<%= picture.src.url(:thumb) %>" alt="...">
        </a>
      </div>
    <% end %>
  </div>
<% end %>