
<div class="row">
  <% pictures.each do |picture| %>
  <div class="col-md-2">

    <a href="###" class="thumbnail" id="<%= picture.id %>">
      <img src="<%= picture.src %>" alt="...">
    </a>

  </div>
  <% end %>
</div>