/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require custom
 *= require jquery.plupload.queue
 */

/* 调整上传界面 */
.plupload_header {
    display: none;
}
.plupload_filelist_footer {
    height: 37px!important;
}
.plupload_container {
    padding: 0!important;
}


/* main里面的导航菜单 */
#actions {
    padding: 8px 15px;
}


/* 选去图片时的样式 */
#main .selected {
    border-color: rgb(66, 139, 202);
}
