@import "bootstrap";

.panel {
  border-radius: 0;
}

.panel-heading {
  border-radius: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.well-sm {
  border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
}

.thumbnail {
  border-radius: 0;
}

.thumbnail .caption {
  padding: 0;
}

.breadcrumb {
  border-radius: 0;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 30px 0;
}
