/*
 *= require custom
 *= require_self
 */

html, body {
  width: 100%;
  height: 100%;
}

.side {
  height: 100%;
  width: 380px;
  background-color: #eb5250;
  position: absolute;
  right: 0;
  color: white;
}